<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PLACEHOLDER</title>
</head>
<body>
  <%= yield %>  
  <p>There are <%= user_count(@data) %> users with a total of <%= interest_count(@data) %> interests.</p>  
</body>
</html>